@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

main{
  scroll-behavior: smooth;
  background-color: #F2E9E4;
  font-family: 'Source Code Pro', monospace;
  color: #22223B;
  height: 100%;
  min-height: 100vh;
}

[data-theme="dark"],
[data-theme="dark"] main{
  background-color: #22223B;
  color: #F2E9E4;
}

h1{
  font-size: 45px;
}